@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: "Open Sans", sans-serif;
    position: relative;
}
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background-color: black;
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
  }
  header img{
    width: 150px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-weight: bold;
  }
  
  .landing-section {
    background: url('./bg.jpg') center/cover no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
    text-align: center;
    position: relative;
    padding: 2rem 2rem;
  }
  .landing-section::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.521);
  }
  .landing-section p{
    max-width: 500px;
  }
  h1{
    font-size: 4rem;
    position: relative;
  }
  .landing-section h1 span{
    color: #00d632;
  }

  .services-section{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .services-section img{
    width: 160px;
  }
  
  .services-section,
  .about-section {
    padding: 50px 20px;
    text-align: center;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    /* border: 2px solid #333; */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .button:hover {
    background-color: #333;
    color: #fff;
  }
  
  .about-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
  }
  .about-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: left;
    max-width: 500px;
  }
  .about-section-right img{
    width: 400px;
  }
  .about-section-left .button{
    width: 100px;
    background-color: #00d632;
    color: white;
  }


  @media screen and (max-width:400px) {
    .about-section-right img{
        width: 270px;
    }
    header nav .button{
        font-size: 12px;
    }
    h1{
        font-size: 3rem;
    }
    html{
        font-size: 12px;
    }
  }